/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.backGround{
    height:100vh;
    background: url("https://th.bing.com/th/id/OIP.hF7QTj2zZqAf4Mu0SpB6MgHaE_?rs=1&pid=ImgDetMain");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} */